{% extends_admingenerated "NitraTextBlockBundle:TextBlockEdit:form.html.twig" %}
{% block form_stores %}
     {% include 'NitraStoreBundle::storesList.html.twig' with {'stores': form['stores']} %}
{% endblock %}